:root {
  --clr-primary-400: hsl(252, 100%, 67%);
  --clr-primary-300: hsl(241, 81%, 54%);
  --clr-primary-200: hsla(256, 72%, 46%, 1);
  --clr-primary-100: hsla(241, 72%, 46%, 0);
  --clr-neutral-400: hsl(0, 0%, 100%);
  --clr-neutral-300: hsl(221, 100%, 96%);
  --clr-neutral-200: hsl(241, 100%, 89%);
  --clr-neutral-100: hsl(224, 30%, 27%);
  --clr-custom-400: hsl(0, 100%, 67%);
  --clr-custom-300: hsl(39, 100%, 56%);
  --clr-custom-200: hsl(166, 100%, 37%);
  --clr-custom-100: hsl(234, 85%, 45%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Hanken Grotesk", sans-serif;
  font-weight: 400;
}
