:root {
  --clr-primary-400: hsl(252, 100%, 67%);
  --clr-primary-300: hsl(241, 81%, 54%);
  --clr-primary-200: hsla(256, 72%, 46%, 1);
  --clr-primary-100: hsla(241, 72%, 46%, 0);
  --clr-neutral-500: rgba(48, 59, 89, 0.5);
  --clr-neutral-400: hsl(0, 0%, 100%);
  --clr-neutral-300: hsl(221, 100%, 96%);
  --clr-neutral-200: hsl(241, 100%, 89%);
  --clr-neutral-100: hsl(224, 30%, 27%);
  --clr-custom-400: hsla(0, 100%, 67%, 0.085);
  --clr-custom-300: hsla(39, 100%, 56%, 0.085);
  --clr-custom-200: hsla(166, 100%, 37%, 0.085);
  --clr-custom-100: hsla(234, 85%, 45%, 0.085);
  --clr-custom-text-400: hsl(0, 100%, 67%);
  --clr-custom-text-300: hsl(39, 100%, 56%);
  --clr-custom-text-200: hsl(166, 100%, 37%);
  --clr-custom-text-100: hsl(234, 85%, 45%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Hanken Grotesk", sans-serif;
  font-weight: 400;
}

.wrapper {
  --width: 50rem;
  max-width: var(--width);
  margin: 0 auto;
  padding: 0 1rem;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--clr-neutral-400);
}

.summary {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  border-radius: 12px;
  background-color: var(--clr-neutral-400);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05);
}

.summary__result {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding: 1.5rem;
  border-radius: 12px;
  background-image: linear-gradient(
    to bottom,
    var(--clr-primary-400),
    var(--clr-primary-300)
  );
}

.summary__subtitle {
  font-size: 1.325rem;
  font-weight: 500;
  color: var(--clr-neutral-300);
}

.rating {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 2rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-image: linear-gradient(
    to bottom,
    var(--clr-primary-200),
    var(--clr-primary-100)
  );
}

.rating__rate {
  font-size: 3.5rem;
  color: var(--clr-neutral-300);
}

.rating__range {
  color: var(--clr-neutral-200);
}

.summary__addition {
  font-size: 1.75rem;
  font-weight: 500;
  letter-spacing: 1px;
  color: var(--clr-neutral-300);
}

.summary__description {
  text-align: center;
  color: var(--clr-neutral-200);
  line-height: 1.5;
}

.summary__highlight {
  padding: 1.5rem;
}
.summary__title {
  font-size: 1.325rem;
  font-weight: 700;
  color: var(--clr-neutral-100);
}

.highlight {
  display: flex;
  margin: 1.5rem 0;
  flex-direction: column;
  list-style-type: none;
  gap: 1rem;
}

.highlight__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 6px;
}

.highlight__name {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.highlight__name span {
  font-weight: 500;
}

.highlight__rate strong {
  color: var(--clr-neutral-100);
}

.highlight__rate span {
  font-weight: 500;
  color: var(--clr-neutral-500);
}

.highlight__reaction {
  background-color: var(--clr-custom-400);
}

.highlight__reaction .highlight__name span {
  color: var(--clr-custom-text-400);
}

.highlight__memory {
  background-color: var(--clr-custom-300);
}

.highlight__memory .highlight__name span {
  color: var(--clr-custom-text-300);
}

.highlight__verbal {
  background-color: var(--clr-custom-200);
}
.highlight__verbal .highlight__name span {
  color: var(--clr-custom-text-200);
}

.highlight__visual {
  background-color: var(--clr-custom-100);
}
.highlight__visual .highlight__name span {
  color: var(--clr-custom-text-100);
}

.btn {
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-family: inherit;
}

.btn--continue {
  width: 100%;
  padding: 1rem;
  border-radius: 10rem;
  font-weight: 700;
  font-size: 1.25rem;
  background-color: var(--clr-neutral-100);
  color: var(--clr-neutral-400);
}
